@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

body {
    font-family: "Nunito", sans-serif;
    color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background: url("bg.png") no-repeat center;
    background-size: cover;
}

.profile-card {
    box-shadow: 0 18px 200px -60px black;
    border-radius: 50px;
    width: 650px;
    position: relative;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.2509803922);
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.profile-card__img img {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    box-shadow: 0 10px 60px -10px rgba(13, 28, 39, 0.5);
}
  
.profile-card__desc {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
  
.profile-card__desc h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
  
.profile-card__desc h1 + div {
    font-size: 20px;
}
  
.profile-card__info {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.profile-card__info > div {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}
  
.profile-card__info > div > *:first-child {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 2rem;
    margin-bottom: 10px;
}
  
.profile-card__info > div > *:last-child {
    font-size: 16px;
    opacity: 0.7;
}
  
.profile-card__social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.profile-card__social a {
    display: inline-flex;
    width: 140px;
    height: 55px;
    margin: 15px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    position: relative;
    flex-shrink: 0;
    transition: all 0.2s;
    text-decoration: none;
}

.profile-card__social span {
    margin-left: 5px;
}

.profile-card__social a.email {
    background: linear-gradient(45deg, #ff2d2d, #c97a98);
    box-shadow: 0 4px 30px rgba(127, 166, 216, 0.5);
}
  
.profile-card__social a.linkedin {
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0 4px 30px rgba(19, 127, 212, 0.7);
}
  
.profile-card__social a.github {
    background: linear-gradient(45deg, #333333, #626b73);
    box-shadow: 0 4px 30px rgba(63, 65, 67, 0.6);
}
  
.profile-card__social a.instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
}
  
.profile-card__social a.discord {
    background: linear-gradient(45deg, #7289da, #5575e7);
    box-shadow: 0 4px 30px rgba(114, 137, 218, 0.7);
}

@media screen and (min-height: 920px) {
    .profile-card__social a:hover {
      transform: scale(1.2) translate(-5px);
    }
}
